

    <div class="row">
        <div class="col-sm-12">
            <h3 class="progress-title">WEAPON SKILL</h3>
            <div class="progress">
                <div class="progress-bar" style="width:65%; background:#97c513;">
                    <div class="progress-value">65%</div>
                </div>
            </div>
            <h3 class="progress-title">BALLISTIC SKILL</h3>
            <div class="progress">
                <div class="progress-bar" style="width:100%; background:#f2545b;">
                    <div class="progress-value">100%</div>
                </div>
            </div>
            <h3 class="progress-title">STRENGTH</h3>
            <div class="progress">
                <div class="progress-bar" style="width:75%; background:#4286f4;">
                    <div class="progress-value">75%</div>
                </div>
            </div>
            <h3 class="progress-title">TOUGHNESS</h3>
            <div class="progress">
                <div class="progress-bar" style="width:30%; background:#21ff63;">
                    <div class="progress-value">30%</div>
                </div>
            </div>
        </div>
    </div>


@code {

}
