@using BlazorBattleRosters.Data.Models;


<article class="postcard small dark @Colors[ColorId]">
	<a class="postcard__img_link" href="#">
		<img class="postcard__img" src="https://alkony.enerla.net/images/miniatures/Games_Workshop-Warhammer_40000_Ed9-Indomitus_set-Primaris_Space_Marines-Captain-1.jpg" alt="Image Title" />
	</a>
	
	<div class="postcard__text">
		<h1 class="postcard__title @Colors[ColorId]"><a href="#">@model?.Name</a></h1>
		<div class="postcard__subtitle small">
			<time datetime="@model?.LastModified">
				<i class="fas fa-calendar-alt mr-2"></i>@model?.LastModified.ToShortDateString()
			</time>

		</div>
	
			<div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
					<li class="tag__item play blue">
						<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
					</li>
				</ul>
		<Stats />
	</div>


</article>

@code {
	[Parameter]
	public UnitModel? model { get; set; }
	public int ColorId { get; set; } = 0;
	public string[] Colors = { "blue", "green", "red", "yellow" };

	public Unit()
	{
		Random rand = new Random();
		// Generate a random index less than the size of the array.
		ColorId = rand.Next(Colors.Length);
	}
}