@page "/rosterunits/{rosterId:int}"
@using BlazorBattleRosters.Data.Models
@using BlazorBattleRosters.Data.IServices
@inject NavigationManager NavigationManager

@inject IRostersService RostersServices

<container>
    <h1 class="text-center text-uppercase">@rosterDetails.Name</h1>
    <h3>RosterUnits</h3>

    @if (rosterDetails.Units != null)
    {
        @foreach (UnitModel unit in rosterDetails.Units)
        {
            <Unit model="@unit"></Unit>
        }
    }
    
</container>

@code {
    [Parameter]
    public int rosterId { get; set; }
    RosterModel rosterDetails = new RosterModel();


    protected override async Task OnInitializedAsync()
    {
        await this.GetRosterDetails();
    }

    protected async Task GetRosterDetails()
    {
        rosterDetails = await RostersServices.GetRosterById(rosterId);
    }
}
